{% extends "base.html" %}

{% block content %}
<h2>{{ 'Sign Up' if signup else 'Log In' }}</h2>
<form method="POST">
    <label for="username">Username</label>
    <input type="text" name="username" required>
    <label for="password">Password</label>
    <input type="password" name="password" required>
    <button type="submit">{{ 'Sign Up' if signup else 'Log In' }}</button>
</form>
<p>
    {% if signup %}
    Already have an account? <a href="{{ url_for('login') }}">Log In</a>
    {% else %}
    Don't have an account? <a href="{{ url_for('signup') }}">Sign Up</a>
    {% endif %}
</p>
{% endblock %}
